.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    position: relative;

    .logo {
        font-size: 20px;
        font-weight: 600;
        span {
            color: #3878eb;
        }
    }

    .search-field {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        div {
            position: relative;
            display: flex;
            align-items: center;

            input {
                width: 180px;
                color: currentColor;
                padding: 6px 8px;
                background-color: var(--bg-secondary);
                border: none;
                outline: none;
                border-radius: 4px 0 0 4px;
            }

            .search-icon {
                background-color: var(--searche-icon-bg);
                width: fit-content;
                padding: 8px;
                font-size: 13px;
                display: flex;
                align-items: center;
                gap: 4px;
                border-radius: 0 4px 4px 0;
                cursor: pointer;
                transition: .3s;
                color: #fff;

                &:hover {
                    filter: brightness(80%);
                }
            }
        }

        .theme-controller {
            background-color: var(--bg-secondary);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: grid;
            place-content: center;
            font-size: 14px;
            cursor: pointer;
            transition: .3s;

            &:hover {
                filter: brightness(90%);
            }
        }
    }

    @media (max-width: 450px) {
        flex-direction: column;
        gap: 20px;

        .search-field {
            input {
                flex: 1;
            }
        }
    }
}