#no-retrived-data {
    text-align: center;
    margin: 40px 0;

    h1 {
        margin-bottom: 8px;
        font-size: 40px;
        color: grey;
    }

    .msg {
        color: grey;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1px;
    }
}