.right-sidebar {
    ul.sections {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            text-align: center;
            width: calc(100% / 4);
            padding: 15px 0;
            border-bottom: 2px solid transparent;
            transition: .3s;
            cursor: pointer;

            &:hover {
                background-color: var(--bg-secondary);
            }
        }

        li.active {
            border-bottom-color: var(--searche-icon-bg);
        }

        @media (max-width: 450px) {
            li {
                font-size: 12px;
            }
        }
    }

    .sections-content {
        margin-top: 20px;

        .pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            gap: 20px;

            .prev-arrow, .next-arrow {
                width: 30px;
                height: 30px;
                background-color: var(--bg-secondary);
                display: grid;
                place-content: center;
                border-radius: 50%;
                font-size: 14px;
                cursor: pointer;
                transition: .3s;

                &:hover {
                    filter: brightness(90%);
                }

                &[blocked="true"] {
                    background-color: rgb(177, 177, 177);
                    color: rgb(161, 161, 161);
                    cursor: not-allowed;

                    &:hover {
                        filter: brightness(100%);
                    }
                }
            }

            .page {
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}